# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# macOS
.DS_Store

# local legacy/generated folders
node_modules/
.expo/

# local env files
.env*.local

# generated native folders
/android

# local IDE state
.idea/workspace.xml
