<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3gmWZtR9LNceRdBaXbkQ1oabfrb5Adok</string>
	<key>GCM_SENDER_ID</key>
	<string>772563442448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>okklelab.app</string>
	<key>PROJECT_ID</key>
	<string>okkle-tax</string>
	<key>STORAGE_BUCKET</key>
	<string>okkle-tax.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772563442448:ios:b9878eeb0102ee51852395</string>
</dict>
</plist>